@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    cursor: default;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}
:root{
    --bg-color: #0a0a0f;
    --second-bg-color:#16161d;
    --text-color:#fff;
    --second-color:#ccc;
    --main-color:#0569ff;
    --scroll-bar-color: #414141;
    --scroll-bar-thumb-color: #1153b6;
    --big-font:4.6rem;
    --h2-font:3rem;
    --p-font:1.1rem;

    
}

/*:root{
    --bg-color: #2a2a2a;
    --second-bg-color:#202020;
    --text-color:#fff;
    --second-color:#ccc;
    --main-color:#0569ff;
    --big-font:4.6rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}*/
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo{
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}
span{
    color: var(--main-color);
}
.navBar{
    display: flex;
}
.navBar a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navBar a:hover{
    color: var(--main-color);
}
.navBar a.active{
color: var(--main-color);
}
.media{
    display: flex;
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section{
    padding: 160px 15% 120px;
}

.main-text{
    text-align: center;
    font-size: 24px;
    margin-bottom: 3rem;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.4)), url(/img/background2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide{
    margin-bottom: 20px;
}
.one{
    display: inline-block;
    margin-right: 15px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--main-color);
    color: var(--text-color);
}
.two{
    display: inline-block;
    color: var(--second-color);
    font-size: 20px;
    font-weight: 500;
}
.home-text h1{
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}
.home-text h3{
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}
.home-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 40px;
}
.button{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.btn{
    display:inline-block;
    padding: 12px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .45s ease;
}
.btn:hover{transform: scale(0.9);}

.media-btn{
    display:inline-block;
    padding: 10px;
    margin-right: 5px;
    margin-top: 50px;
    color: var(--second-color);
    background: var(--main-color);
    border-radius: 10%;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img{
    max-height: 530px;
    height: auto;
    width: 100%;
    border-radius: 5px;
}
.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.about-text h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}
.about-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    font-style: oblique;
    line-height: 1.8;
    margin-bottom: 4rem;
}
.projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #00a6ff);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    font: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.5;
}
.layer i{
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
.content{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

/*Qualification section*/
.qualification h2{margin-bottom: 2.5rem;}
.qualification-title{
    margin-bottom: 2rem;
}
.academic-content-grid{
    grid-template-columns: repeat(2,340px);
    column-gap: 3rem;
    display: grid;
    justify-content: center;
}

.timeline-item{
    position: relative;
    margin-bottom: 2rem;
    padding-left: 3rem;
    cursor: default;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    left: .48rem;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}

.circle-dot{
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    background-color: var(--main-color);
    transition: .3s;
}

.timeline-item:hover .circle-dot{
    background-color: var(--bg-color);
}

/*Skills section*/

.skills-container{
    display: grid;
    grid-template-columns: 360px 320px;
    column-gap: 3rem;
    justify-content: center;
}


.skills-titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.skills-header{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.skills-header:not(:last-child){
    margin-bottom: 2.5rem;
}
.skills-icon,
.skills-arrow{
    font-size: 1.8rem;
    color: var(--main-color);
}
.skills-icon{
    margin-right:0.75rem;
}
.skills-arrow{
    margin-left:auto;
}

.skills-list{
    row-gap: 1.8rem;
}

.skills-bar,
.skills-percentage{
    height: 5px;
    border-radius: .25rem;
}
.skills-bar{
    background-color: var(--second-bg-color);
}

.skills-percentage{
    display: block;
    background-color: var(--main-color);
    line-height: 0.4;
}

/*Contact*/
.contact-container{
    grid-template-columns: 300px 340px;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}

.contact-info{
    display: grid;
    row-gap: 1rem;
}
.contact-card{
    background-color: var(--second-bg-color);
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
}
.contact-card-icon{
    font-size: 1.8rem;
    color: var(--text-color);
    margin-bottom: .25rem;
}

.contact-card-title,
.contact-card-data{
    font-size: var(--p-font);
}

.contact-card-title{
    font-weight: 500;
}
.contact-card-data{
    display: block;
    margin-bottom: .75rem;
}
.input-container{
    position: relative;
    margin-top: .1rem;
    margin-bottom: 1.8rem;
}

.input{
    width: 100%;
    border: 2px solid var(--text-color);
    background-color: transparent;
    padding: .6 rem 1.2rem;
    color: var(--text-color);
    font-weight: 300;
    font-size: var(--p-font);
    letter-spacing: .5px;
    outline: none;
    border-radius: .50rem;
    transition: .3s;
}
textarea.input{
    padding: .8rem 1.2rem;
    min-height: 140px;
    border-radius: .50rem;
    resize: none;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    padding: 0 .4rem;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    z-index: 1000;
    transition: .5s;
}
.input-container.textarea label{
    top: 1rem;
    transform: translateY(0);
}
.input-container span{
    position: absolute;
    top: 0;
    left: 25px;
    color: transparent;
    transform: translateY(-50%);
    font-size: small;
    padding: 0 .4rem;
    pointer-events: none;
    z-index: 500;
}


.input-container span::before,
.input-container span::after{
    content: '';
    position: absolute;
    width: 10%;
    height: 5px;
    opacity: 0;
    background-color: var(--bg-color);
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.input-container span::before{
    left: 50%;
}


.input-container span::after{
    right: 50%;
}

.input-container.focus label{
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: small;
}

.input-container.focus span::before,
.input-container.focus span::after{
    width: 50%;
    opacity: 1;
}













/*Scroll bar*/
::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-bar-thumb-color);
}





@media(max-width:1100px){
    :root{
        --big-font:4rem;
        --h2-font:2.5rem;
        --p-font:1rem;
        transition: .1s;
    }
    .home-text h3{
        font-size: 2.5rem;
    }
    .home{
        height: 87vh;
    }
}
@media(max-width:920){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

@media(max-width:480px){
    #menu-icon{
        display: block;
    }
    .navBar{
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navBar a{
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: .45s ease;
        color: var(--text-color);
    }
    .navBar a:hover{
        color: var(--main-color)
    }
    .navBar a.active{
        color: var(--text-color);
    }
    .navBar.open{
        top: 100%;
    }
}